$background-color:  pink;
$value-color:       blue;

$title-color:       rgba(255, 255, 255, 0.7);
$moreinfo-color:    rgba(255, 255, 255, 0.7);

@mixin circular($size) {
  width: $size;
  height: $size;
  -webkit-border-radius: $size/2;
     -moz-border-radius: $size/2;
          border-radius: $size/2;
  background-repeat: no-repeat;
  background-position: center;
  background-size: $size auto;
  margin-left: auto;
  margin-right: auto;
}

.widget.widget-github {
  vertical-align: top;
  padding: 0;

  table.repos-list {
    border-spacing: 20px 20px;
    border-collapse: separate;
  }

  .repo {

    .name { text-align: left; }

    .pr-count,
    .master-status,
    .dev-status {
      @include circular(50px);
    }

    .green  { background-color: green; }
    .red    { background-color: red; }
    .yellow { background-color: yellow; }


  }

  .repo {
    border: solid 1px #000;
  }
}
