$background-color:  pink;
$value-color:       blue;

$title-color:       rgba(255, 255, 255, 0.7);;
$moreinfo-color:    rgba(255, 255, 255, 0.7);;

.widget.widget-github {
  vertical-align: top;
  padding: 0;

  .repos-list {
    .name {
      text-align: left;
    }

  }

  .repo {
    border: solid 1px #000;
  }
}
